<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../head.ejs') %>

</head>
<body>
    <header>
        <span id="logo">
            <a href="/">Bookstore</a>
        </span>
    </header>

    <div class="container">
        <div id="books">
            <span id="route"><%= title %></span>
            <ul id="links">
                <li><a href="/books">Home</a></li>
                <li><a href="/books/about">About</a></li>
                <li><a href="/books/create" >Create a Book</a></li>
            </ul>
        </div>

        <div id="about">
            <h4><%= book.book %></h4>
            <h5><%= book.author %></h5>
            <p>Price : <%= book.price %>/=</p>
        </div>
            <a data-doc="<%= book._id %>" id="delete">DELETE</a>
    </div>
    
    <%- include('../footer.ejs') %>

    <script>
        const trash = document.querySelector('#delete');
        trash.addEventListener('click',(e) =>{
            const endpoint = `/books/${trash.dataset.doc}`;

            fetch(endpoint,{
                method:'DELETE'
            })
            .then((response) => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => console.log(err))
        })
    </script>

</body>
</html>